<!-- Author: Tyler Steele
    Description: Creating template for game page-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <title>Game</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    <body class='NoahsTag'>
        <div style='width:300px; height:300px; background-color:blue; transform:translate(-200px, 375px);  '>
            Pokemon goes here
        </div>
        <div style='width:200px; height:200px; background-color:blue; transform:translate(300px, -150px);  '>
            Enemy Pokemon goes here
        </div>
    </body>

</html>